body {
    margin: 0;
    font-family: "Raleway", sans-serif;
  }
  
  .welcome {
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
  }

  .link-button{
    text-decoration: none;
    background-image: linear-gradient(crimson, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
  .welcome,
  .biography,
  .latest-work {
    height: 600px;
  }
  .half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
  }
  .half-width img {
    width: 100%;
  }
  h1 {
    font-size: 30px;
    font-weight: 400;
  }
  h1.name {
    color: crimson;
    font-weight: 800;
    font-size: 40px;
  }
  h1 span {
    color: rgb(104, 104, 104);
  }
  
  .text {
    color: gray;
    font-size: 16px;
    text-align: justify;
  }
  .btn {
    color: #ffffff;
    background-color: hotpink;
    border: none;
    padding: 12px 40px;
    font-size: 20px;
  }
  .biography { 

    height: 500px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-position: center;
      
    width:100%;
  }
  .bio {
    padding-top: 100px;
  }
  .one-third {
    width: 30%;
    margin-left: 2%;
    padding-left: 5px;
    float: left;
  }
  .one-third img {
    width: 100%;
  }
  .latest-work {
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 100px 0px;
    height: 400px;
  }
  .latest-work h1 {
    text-align: center;
  }
  .clients {
    height: 600px;
  }
  .clients h1 {
    text-align: center;
  }
  
  .client {
    width: 40%;
    height: 300px;
    box-shadow: 5px 7px 20px grey;
    float: left;
    margin-left: 5%;
    padding: 20px;
    border-radius: 20px;
  }
  form {
    display: flex;
    justify-content: center;
  }
  .contact {
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
  }

  
  .contact h1 {
    text-align: center;
  }
  input[type="text"] {
    height: 40px;
    width: 300px;
    font-size: 20px;
    margin: 5px 0px;
    border: none;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .clear-fix {
    clear: both;
  }
  .message {
    background-color: hotpink;
    border-radius: 10px;
    padding: 50px;
    color: #ffffff;
    margin: 50px auto;
    width: 30%;

  }
  .message h1 {
    font-size: 25px;
  }
  .btn-send {
    background-color: black;
    border: none;
    color: #ffffff;
    padding: 0px 20px;
  }

  .half-width img{
    width: 80%;
    height: 60%;

}